/* =========================
   GLOBAL RESET
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   ROOT BODY STYLING
========================= */

body {

  font-family: Arial, Helvetica, sans-serif;

  background-color: #F5E6D3;

  color: #1C120B;

}